*{
    margin: 0;
    scroll-behavior: auto;
}
body{
    overflow-x: hidden;
}
section{
    height: 100vh;
}
img {
    width: 100%;
  }
.nav-bar{
    background-color:#8d9e7a;
    height:90px;
    width: 100%;
}
.nav-bar img{
    float: left;
    width: 80px;
    padding: 5px 20px 5px 20px;
}
.nav-container li a{
    float: right;
    color: white;
    font-size: 18pt;
    text-align: center;
    text-decoration: none;
    padding: 31.5px;
}
ul{
    list-style-type: none;
}
li a:hover{
    background-color: #4c5c42;
}
.intro{
    background-image: url(images/cover.jpg);
    background-size: cover;
}
.left{
    width: 81vh;
    float: left;
    margin-right: 6%;
}
.right{
    width: 81vh;
    float: right;
    margin-left: 6%;
}
.intro{
    background-color: #697a8c;
}
.guava{
    background-color: #db454c;
}
.hibiscus{
    background-color: #e9417c;
}
.pomegranate{
    background-color:#cb2647;
}
.honey{
    background-color: #EDB033;
}
.mango{
    background-color: #c96435;
}
.coconut{
    background-color: #6C4B42;
}
p{
    color: white;
    display: block;
    font-size: 25pt;
    text-align: left;
    line-height: 35pt;
}
.right-text{
    padding: 15% 5% 5% 46%;
}
.left-text{
    padding: 15% 46% 5% 6%;
}
.video{
    width:100%;
    height: 60vh;
    overflow: hidden;
    background-size: cover;
    padding-bottom: 1%;
}
#video{
    position: relative;
    top: 52%;
    transform: translateY(-52%);
}
.our-story{
    height: 50vh;
}
.our-story h1{
    color: #4c5c42;
    font-size: 20pt;
    padding: 3.5% 10% 0% 10%;
    line-height: 26pt;
}
.our-story p{
    color: #4c5c42;
    font-size: 16pt;
    padding: 3.5% 10% 0% 10%;
    line-height: 24pt;
}
