*{
    box-sizing: border-box;
}
body{
    margin: 2%;
}
img{
    width: 100%;
}
header{
    border:2px solid black;
    display: flex;
}
header .logo {
    flex: 30%;
}
header .logo img{
    border-radius: 50%;
    padding:30px;
}
header nav{
    flex: 70%;
}
header ul{
    list-style:none;
    display: flex;
    flex-direction: column;
}
header li{
    margin: 20px 0px;
    font-size: 22px;
}
main{
    border:20px solid rgb(243, 143, 193);
}
.flex-2{
    display: flex;
}
.gallery{
    display:flex;
    flex-wrap: wrap;
}
.flex-2 article{
    padding: 60px;
    flex: 1;
}
.gallery article{
    min-width: 200px;
    padding: 10px;
}

