*{
    margin:0;
    overflow-x: hidden;
}
h1{
    margin-left: 7.5%;
    font-size: 35pt;
    padding-top: 40px;
}
h2{
    margin-left: 7.5%;
    font-size: 18pt;
    font-weight: lighter;
    padding-top: 2px;
    padding-bottom: 20px;
}
p{
    margin-left: 7.5%;
    margin-right: 7.5%;
    font-size: 16pt;
    padding-top: 20px;
    padding-bottom: 20px;
}
img{
    width: 85%;
    display: block;
    margin: auto;
}